#lbl1,#lbl2 {
    color: blue;
    font-size: large;
    font-weight: bold;
}

#st1,#st2,#st3,#st4,#st5 {
    font-size: 18px;
    font-family: sans-serif;
    color: darkred;
}
#Stats,#Stats2,#Stats3,#Stats4,#Stats5{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
    color: darkorange;
}
