#lbl1{
    color: blue;
}
#lbl2{
    color:yellow;
}
.col-sm-8{
    background-color: brown;
}
#Stats{
    font-size: 24px;
}
#Stats2{
    font-family: sans-serif;
    font-color: #ff0000;
    font-size: 24px;

}